name: ci/cd with pulumi
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

  workflow_dispatch: # to manually run this workflow

jobs:
  code-analysis-and-testing:
    name: Code analysis and testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: |
          npm install -g pnpm
          pnpm install --no-frozen-lockfile

      - name: Run lint
        run: pnpm run lint

      - name: Run test
        run: pnpm run test

  build-and-deploy:
    if: ${{ github.event_name == 'push' }}
    name: Build and deploy
    runs-on: ubuntu-latest
    needs: code-analysis-and-testing
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: |
          npm install -g pnpm
          pnpm install --no-frozen-lockfile

      - name: Run lint
        run: pnpm run lint

      - name: Run test
        run: pnpm run test

      - name: Build app
        run: pnpm run build

      - name: Set Pulumi
        run: |
          cd pulumi
          npm install

      - name: Deploy app with Pulumi
        uses: pulumi/actions@v4
        with:
          command: up -y
          stack-name: dev
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}

        # TODO: stack-name for pulumi should be dependent with the branch
        # dev -> test
        # main -> prod
